h1 {
    padding: 15px;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: brown;
    font-weight: 800;
    padding: 20px;
    margin-top: 2px;
}
thead{
    background-color: coral;
    }
