<!DOCTYPE html>
<html>
<head>
	<title>AngularComplexAssignment</title>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/app.js"></script>
</head>
<body ng-controller="myController" ng-app="myApp"  style="background-image: url('img/img11.jpg');  ">
	<div class="container-fluid">
		<div class="container-fluid">
			<header>
				<h1>Java R&D Corp Pvt Ltd</h1>
				<span class="row"><hr></span>
			</header>
		<div class="row">
			<div class="col-md-4" style="font-size: 30px ; "> Customer List </div>
			  <!-- Trigger the modal with a button -->
			  <div class="col-md-4">
			  	<button type="button" id="btn1" class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal">Add New</button>
			  </div>
      		 <div class="col-md-4"> 
      		 	<input type="text" id="search" class="form-control" placeholder=" Search Customer By Name " ng-model="search" />
      		 </div>
      	</div>
			   <div class="row">
			        	<hr>
			   </div>
			  <!-- Modal -->
			  <div class="modal fade" id="myModal" role="dialog">
			    <div class="modal-dialog modal-lg">
			      <div class="modal-content">
			      	<div class="form" >
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title" id="modalHeading">Add Customer</h4>

			        </div>
			       
			        <div class="modal-body">
			        	<div class="panel">
			        		<div class="input-group">
			                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
			                    <input class="form-control" type="text" placeholder="Username" ng-model="name" required>
			                </div>
						    
			                <br><br>
			                <div class="input-group">
			                    <span class="input-group-addon"><i class="fa fa-map fa-fw"></i></span>
			                   <select class="form-control"  ng-model="selectedLocation" ng-options= "country for country in location"></select>

			       
			                </div>
			                <br><br>
			                <div class="input-group margin-bottom-sm">
			                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
			                    <input class="form-control" type="text" placeholder="Email address" ng-model="mailId" required>
			                </div>		              		
			            </div>  
			        </div>
			        <div class="modal-footer">
			          <button type="button" ng-click="add()" class="btn btn-success">Add Customer</button>
			          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			        </div>
			        </div>
			      </div>
			    </div>
			  </div>
		</div>
		<div class="col-md-12">
					<!-- For Dynamic Table  -->
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Sr. No.</th>
						<th>Name <button type="button" class="btn btn-info btn-sm" ng-click="change()">{{buttonName}}</button></th>
						<th>Location</th>	
						<th>Mail Id</th>
						<th>close</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="customer in customerDetailList.details | filter: search | orderBy: sortList track by $index">
						<td>{{$index+1}}</td>
						<td>{{customer.name}}</td>
						<td>{{customer.selectedLocation}}</td>
						<td>{{customer.mailId}}</td>					
						<td><button type="button" data-target="#myModalDelete" class="btn btn-danger" data-toggle="modal">&times;</button></td>
					</tr>
			</tbody>
			</table>
		</div>	
<!-- Trigger the modal with a button -->
 

  <!-- Modal -->
  <div class="modal fade" id="myModalDelete" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm Delete</h4>
        </div>
        <div class="modal-body">
          <h3>Are you Sure You Want To Delete It From Table?</h3>
          <p>Note: It can't be recovered once deleted.</p>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-danger" ng-click="delete($index)">Delete From Table</button>
          <button type="button" class="btn btn-info" data-dismiss="modal">Close Window</button>

        </div>
      </div>
      
    </div>
  </div>
  




	</div>
</body>